@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  h1 {
    @apply text-4xl md:text-6xl mb-5 text-white;
  }
  h2 {
    @apply text-2xl md:text-4xl mb-5;
  }
  h3 {
    @apply text-lg md:text-2xl mb-5;
  }
  p {
    @apply mb-4;
  }
  pre {
    @apply mb-4;
  }
}
@layer components {
  .hr {
    @apply leading-[1em] relative outline-0 border-0 text-center h-[1.5em] opacity-50
  }
  .hr::before {
    @apply absolute w-full h-[3px] left-0 top-1/2 content-[''] bg-gradient-to-r from-transparent via-black to-transparent
  }
  .mycontainer {
    @apply m-auto max-w-3xl w-full px-1
  }
}

:root {
  --darkgrey: #131313;
  --grey: #C9D2E3;
  --textgrey: #F5F5F5;
  --link: #b5b5f3;
  --github: #22272E;
  --daily: #0e1217;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--daily);
  color: var(--textgrey);
}
a {
  text-decoration: none;
  color: var(--link);
}
a:hover {
  text-decoration: underline;
  color: var(--grey);
}
p, li {
	font-weight: 200;
	letter-spacing: .07rem;
	line-height: 1.7rem;
}
.simonface {
	border-radius: 50%;
	width: 80px;
	height: auto;
}
.post-footer {
  padding-top: 3em;
  min-height: min-content;
}

/* Navbar */
.navbar {
	height: 60px;
	width: 100%;
	background: var(--daily);
	color: white;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	font-size: 1rem;
}

.nav-logo {
	text-decoration: none;
	/* color: white; */
}

.nav-links {
	display: grid;
	grid-template-columns: repeat(2, auto);
	grid-gap: 20px;
	list-style: none;
}

.nav-link {
	text-decoration: none;
	color: var(--textgrey);
	transition: 0.3s all;
}

.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}

@media only screen and (max-width: 590px) {
	.navbar {
		position: relative;
	}

	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
	}

	.nav-links.active {
		background: var(--daily);
		left: 0;
	}

	.nav-item {
		padding: 10px 0;
		border-bottom: 1px solid var(--textgrey);
	}

	.nav-icon {
		display: flex;
	}
}
