@tailwind base;
@tailwind components;
@tailwind utilities;
@layer base {

  h1 {
    @apply text-4xl md:text-6xl mb-5;
  }
  h2 {
    @apply text-2xl md:text-4xl mb-5;
  }
  h3 {
    @apply text-lg md:text-2xl mb-5;
  }
  p {
    @apply mb-4;
  }
  pre {
    @apply mb-4;
  }
}
@layer components {
  .hr {
    @apply leading-[1em] relative outline-0 border-0 text-center h-[1.5em] opacity-50
  }
  .hr::before {
    @apply absolute w-full h-[3px] left-0 top-1/2 content-[''] bg-gradient-to-r from-transparent via-black to-transparent
  }
  .mycontainer {
    @apply m-auto max-w-3xl w-full px-1
  }
	.page-header {@apply text-xl md:text-6xl text-center}
}

:root {
  --darkgrey: #131313;
  --grey: #F9F9FB;
  --textgrey: #F5F5F5;
  --link: #b5b5f3;
  --github: #22272E;
  --daily: #0e1217;
}
* {
  box-sizing: border-box;
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  background: var(--grey);
  color: var(--daily);
}
a {
  text-decoration: none;
  color: var(--link);
}

p, li {
	font-weight: 200;
	letter-spacing: .07rem;
	line-height: 1.7rem;
}
ol.video-list {
	background: #819bf3;
	padding: 4em 2em 2em 2em;
	list-style-type: decimal;
}
ol.video-list li {
	background: #c7d1f8;
	color: #070355;
	padding: 0em 1em 1em 1em;
	font-size: 3em;
	margin: 0 0 0 1em;
}
ol.video-list li .video-title  {
	font-size: 2rem;
	text-align: center;
	padding: 1em 0;
}

.simonface {
	border-radius: 50%;
	width: 80px;
	height: auto;
}
.post-footer {
  padding-top: 3em;
  min-height: min-content;
}
ul {
	list-style-type: square;
	list-style-position: inside;
	margin-bottom: 1em;
}
.quote {
	padding: 1em;
	background-color: var(--github);
	margin-bottom: 1em;
	font-size: 20pt;
}




/* Navbar */
.navbar {
	height: 60px;
	width: 100%;
	background: var(--daily);
	/* color: white; */
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 0 3rem;
	font-size: 1rem;
}
.nav-logo {
	text-decoration: none;
	text-transform: uppercase;
	font-weight: 700;
	letter-spacing: 1.6px;
}

.nav-links {
	display: flex;
	justify-content: space-between;
	list-style: none;
	padding-top: 15px;
}
.nav-link {
	margin: 0 8px;
	text-decoration: none;
	color: var(--textgrey);
	transition: 0.3s all;
}
.nav-icon {
	display: none;
	font-size: 2rem;
	cursor: pointer;
}
@media only screen and (max-width: 610px) {
	.navbar {
		position: relative;
	}
	.nav-links {
		display: flex;
		flex-direction: column;
		position: absolute;
		text-align: center;
		width: 100%;
		top: 80px;
		left: -100%;
		transition: 0.5s all;
		padding-top: 0px;
	}
	.nav-links.active {
		background: var(--daily);
		left: 0;
	}
	.nav-item {
		padding: 10px 0;
		border-bottom: 1px solid var(--textgrey);
	}
	.nav-icon {
		display: flex;
	}
}
/* Navbar */

.event-card {
	border: 1px white solid;
	margin-bottom: 0.8em;
	padding: 1em;
}

table {
	border-collapse: collapse;
	width: 100%;
}

td,
th {
	border: 1px solid #dddddd;
	text-align: left;
	padding: 8px;
}

tr:nth-child(even) {
	background-color: #1722c2;
}

input {
	border: 1px solid #333;
	border-radius: .3em;
	padding: .5rem;
	width: 12em;
	color: black;
	margin-right: 1em;
	margin-bottom: 1em;
}
select {
	padding: .45rem;
	border: 1px solid #333;
	border-radius: .3em;
	cursor: pointer;
}
.parent {
	display: grid;
	place-items: center;
	width: 100%;
	min-height: 80vh;
}

.child {
	padding: 6rem;
	text-align: center;
}

.pyg {
	font-size: 30pt;
	color: var(--github);
	font-weight: 900;
	border: 1px solid rgb(82, 116, 228);
	border-radius: 5px;
	padding: 4px;
}
.korea-links {
	color: var(--darkgrey);
	margin-right: 1em;
	border: 1px solid navy;
	padding: 0.7em;
	font-size: 9pt;
}
.korea-links:hover {
	background-color: navy;
	color: white;
}