@tailwind base;
@tailwind components;
@tailwind utilities;

.simonface {
	border-radius: 50%;
	width: 80px;
	height: auto;
}

.camera-label {
	display: flex;
  align-items: center;
}

code {
	background-color: black;
	color: white;
	padding: 1px 5px 2px 5px;
}

span.post-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.article:hover {
	text-decoration: underline;
	color: #1d1de4;
}
