@tailwind base;
@tailwind components;
@tailwind utilities;

p, li {
	font-weight: 300;
	letter-spacing: .08rem;
	line-height: 1.7rem;
}


.simonface {
	border-radius: 50%;
	width: 80px;
	height: auto;
}

.camera-label {
	display: flex;
  align-items: center;
}

code {
	background-color: #c0baba;
	font-size: 0.95rem;
	color: #af1e05;
	padding: 4px 5px 4px 5px;
}

span.post-meta {
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.article:hover {
	text-decoration: underline;
	color: #1d1de4;
}
